@use "../global/typography";
@use "../global/sizes";
@use "../global/colors";

header {
  font-family: typography.$font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$main-background;
}

.main-header {
  font-weight: bold;
  font-size: 3rem;
}

span {
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-content: center;
  justify-self: center;
}
.span-title {
  font-style: oblique;
  font-size: 1rem;
  font-weight: normal;
}
