@use "../global/typography";
@use "../global/sizes";
@use "../global/colors";

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  font-weight: bold;
  font-size: 3rem;
}

.span-title {
  font-style: oblique;
  font-size: 1rem;
  font-weight: normal;
}
