@use "../global/typography";
@use "../global/sizes";
@use "../global/colors";

main {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.main-body {
  font-weight: normal;
  font-size: 1.6rem;
}

h2 {
  padding: sizes.$main-h2-padding-horizontal sizes.$main-h2-padding-vertical;
}

.api-list-container {
  min-height: 3rem;
  max-width: 20rem;
}

nav {
  padding: sizes.$main-h2-padding-horizontal sizes.$main-h2-padding-vertical;
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
}
